
 <div id="footer" >
    <div class="container">

    	<p>Copyright &copy; {{ site.title }} 2016 - 
        <a href="https://github.com/meom-group"> <i class="icon fa-github"></i>  MEOM group</a> -
        <a href="{{ base_path }}/feed.xml"><i class="fa fa-fw fa-rss-square" aria-hidden="true"></i> RSS </a>
        </p>

        <div class="row">
            <div class="col-sm-4 text-center">
            	<h4> <a href="{{site.baseurl}}/about/"> About </a></h4>
				<ul class="icons" style="align:left">
					<li> <a href="{{site.baseurl}}/research/finescales">Unravelling ocean fine scales motions</a> </li>
					<li> <a href="{{site.baseurl}}/research/chaos">Quantifying chaos and uncertainties in the ocean evolution</a> </li>
					<li> <a href="{{site.baseurl}}/research/climate">Understanding the ocean role in the climate machinery</a> </li>
					<li> <a href="{{site.baseurl}}/research/nemo">Contributing to a european modeling infrastructure for ocean science, climate and operational applications</a> </li>
				</ul>
			</div>
			<div class="col-sm-4 text-center">
				<h4> <a href="{{site.baseurl}}/people/"> People </a></h4>
				<ul class="icons" style="align:left>
					<li> <a href="{{site.baseurl}}/people">Team Members</a> </li>
					<li> <a href="{{site.baseurl}}/people">Students, postdocs, visitor scientists</a> </li>
				</ul>
			
				<h4> <a href="{{site.baseurl}}/projects"> Projects </a></h4>
				<ul class="icons" style="align:left>
					<li> <a href="{{site.baseurl}}/projects/sobums">Sobums</a> </li>
					<li> <a href="{{site.baseurl}}/projects#drakkar">Drakkar</a> </li>
				</ul>
			</div>
			<div class="col-sm-4 text-center">
				<h4> <a href="{{site.baseurl}}/projects"> Code </a></h4>
				<h4> <a href="{{site.baseurl}}/projects"> Publications </a></h4>
				<h4> <a href="{{site.baseurl}}/projects"> News </a></h4>
				<h4> <a href="{{site.baseurl}}/projects"> Job Offers </a></h4>
				<h4> <a href="{{site.baseurl}}/projects"> Contact </a></h4>
				
			</div>
		</div>
    </div>
</div>

 