
 <div id="footer" >
    <div class="container">
        <div class="welcome-banner">
            <h2> Contact </h2>
        </div>
		<ul>
      		<li> <i class="icon fa-map-marker"></i>  <span class="inner"> MEOM/LGGE, 1025 rue de la piscine, Domaine Universitaire, St Martin d’Hères </span></li>
      		<li> <i class="icon fa-pencil"></i>  <span class="inner"> MEOM/LGGE, BP53, 38041 Grenoble Cedex 9 France</span></li>
    		<li> <i class="icon fa-phone"></i>  <span class="inner"> +33 4 76 82 50 65</span></li>
    		<li> <i class="icon fa-github"></i>  <a href="https://github.com/meom-group">MEOM group</a> </li>
    	</ul>
    	<p>Copyright &copy; {{ site.title }} 2016</p>
    </div>
</div>

 